﻿@model TEST_APPLICATION.Models.Visit

@{
    ViewData["Title"] = "Visit";     
}

<div class="modal-content">
    <div class="modal-header">
        <h4>@ViewData["Title"]</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:none;">
                <label asp-for="PatientId" class="control-label"></label>
                <input asp-for="PatientId" class="form-control" value="@ViewData["PatientId"]" />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class="form-control">
                    @foreach (var item in @ViewData["Doctors"] as List<Doctor>)
                    {
                        <option value="@item.Id">@item.FullName (@item.Specialty)</option>
                    }
                </select>
                <span asp-validation-for="DoctorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosisId" class="control-label"></label>
                <select asp-for="DiagnosisId" class="form-control">
                    @foreach (var item in @ViewData["Diagnoses"] as List<Diagnosis>)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="DiagnosisId" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Complaints" class="control-label"></label>
                <input asp-for="Complaints" class="form-control" />
                <span asp-validation-for="Complaints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateVisit" class="control-label"></label>
                <input asp-for="DateVisit" class="form-control" />
                <span asp-validation-for="DateVisit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

