﻿@model TEST_APPLICATION.Models.Visit

@{
    ViewData["Title"] = "Delete";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>@ViewData["Title"]</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <h3>Are you sure you want to delete visit?</h3>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>        
    </div>
</div>

