﻿@model TEST_APPLICATION.Models.Visit

@{
    ViewData["Title"] = "Details";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>@ViewData["Title"]</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <div>
            <h4>Visit</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PatientId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PatientId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DoctorId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DoctorId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiagnosisId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiagnosisId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Complaints)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Complaints)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DateVisit)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DateVisit)
                </dd>
            </dl>
        </div>
    </div>
</div>
