﻿@model TEST_APPLICATION.Models.Patient

@{
    ViewData["Title"] = "Delete";
}

<div class="modal-content">
    <div class="modal-header">
        <h4>@ViewData["Title"]</h4>
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
    </div>
    <div class="modal-body">
        <p>Patient Id Card Number @Html.DisplayFor(model => model.IdCardNumber)</p>
        <hr />
        <p>Are you sure you want to delete patient from base?</p>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </form>
    </div>
</div>

