﻿@model TEST_APPLICATION.Models.ViewModel.ViewModelDetailsPatient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.IdCardNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.IdCardNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a class="editPatientBtn" asp-action="Edit" asp-route-id="@Model.Patient.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h2>Doctor visits</h2>
    @{
        if (Model.Visits != null & Model.Visits.Count() != 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Visits.First().Doctor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Visits.First().Diagnosis)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Visits.First().Complaints)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Visits.First().DateVisit)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Visits.ToList())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Doctor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnosis)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Complaints)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateVisit)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Visits", new { id = item.Id }, new { @class = "editPatientBtn" }) |
                                @Html.ActionLink("Details", "Details", "Visits", new { id = item.Id }, new { @class = "detailsVisitBtn" }) |
                                @Html.ActionLink("Delete", "Delete", "Visits", new { id = item.Id }, new { @class = "deleteVisitBtn" }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Items not found</p>
        }
    }
    @Html.ActionLink("Create visit", "Create", "Visits", new { patientId = Model.Patient.Id }, new { @class= "createVisitBtn" })    
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".editPatientBtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })    

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".createVisitBtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".editVisitBtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".detailsVisitBtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".deleteVisitBtn").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}